<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql:postgresql</property>
        <property name="connection.username">postgresql</property>
        <property name="connection.password">root</property>
        <property name="dialect">org.hibernate.dialect.PostgresPlusDialect</property>
        <property name="show_sql">true</property>
        <property name="hdm2ddl.auto">create-drop</property>

        <mapping class="mate.academy.model.Movie"/>
    </session-factory>
</hibernate-configuration>
